@model AspChat.ViewModels.ChatViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Чат на React</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Client/output/main.css")">
</head>
<body>
    <div id="app"></div>
    <script data-username="@Model.ThisUser.Name"
            data-user-id="@Model.ThisUser.Id"
            data-chat-messages='@Model.JsonChatMessages'
            src="@Url.Content("~/Client/output/index.js")"></script>
</body>
</html>
