@model AspChat.ViewModels.ChatIndexViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Чат на React</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Client/output/main.css")">
</head>
<body>
    <div id="app"></div>
    <script>
        function isAuth() {
            return @User.Identity.IsAuthenticated.ToString().ToLower();
        }
    </script>
    <script id="main" 
            @if (Model != null && Model.ThisUser != null && User.Identity.IsAuthenticated) {
                <text> data-username="@Model.ThisUser.Name" </text>     
                <text> data-user-id="@Model.ThisUser.Id" </text>       
                <text> data-chat-messages='@Model.JsonChatMessages' </text>     
            }
            src="@Url.Content("~/Client/output/index.js")"></script>
    @if (TempData["message"] != null) {
        <script>
            alert("@TempData["message"]");
        </script>
    }
</body>
</html>
