@model AspChat.ViewModels.ChatIndexViewModel

@{
    var isAuthCorrect = Model != null && Model.ThisUserName != null && User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Чат на React</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Client/output/main.css")">
</head>
<body>
    <div id="app"></div>
    <script>
        function isAuth() {
            return @isAuthCorrect.ToString().ToLower();
        }
    </script>
    <script id="main" 
            @if (isAuthCorrect) {
                <text> data-username="@Model.ThisUserName" </text>    
                <text> data-chat-messages='@Model.JsonChatMessages' </text>     
            }
            src="@Url.Content("~/Client/output/index.js")"></script>
    @if (TempData["message"] != null) {
        <script>
            alert("@TempData["message"]");
        </script>
    }
</body>
</html>
